@@include('header.html', {
"title"      : "壹平方米",
"vendor_css" : "./css/vendor.css",
"app_css"    : "./css/personData.css"
})

<!--content-->
<div class="page-group">
  <div class="page form-page page-current">
    <div class="tree">
      <div class="tree_item text-center active">
        <div class="tree_item_icon"><img src="../img/step_succ.png" alt=""></div>
        <div class="tree_item_txt">填写身份信息</div>
      </div>
      <div class="tree_item text-center active">
        <div class="tree_item_icon"><img src="../img/step_succ.png" alt=""></div>
        <div class="tree_item_txt">补充用户信息</div>
      </div>
      <div class="tree_item text-center active">
        <div class="tree_item_icon"><img src="../img/step3.png" alt=""></div>
        <div class="tree_item_txt">完成注册</div>
      </div>
    </div>
    <form id="sign-form">
      <div class="c_form">
        <div class="c_form_group">
          <input v-model="loginName" id="loginName" name="loginName" maxlength="16" autocomplete="off" class="c_form_input" placeholder="登录名" type="text">
        </div>
        <div class="c_form_group">
          <input v-model="pwd" id="pwd" name="pwd" class="c_form_input" maxlength="20" autocomplete="off" placeholder="密码" type="password">
        </div>
        <div class="c_form_group">
          <input v-model="confirmPwd" id="confirmPwd" name="confirmPwd" maxlength="20" autocomplete="off" class="c_form_input" placeholder="确认密码" type="password">
        </div>
        <div class="c_form_group">
          <input v-model="email" id="email" name="email" class="c_form_input" autocomplete="off" placeholder="电子邮箱" type="text">
        </div>
        <div class="c_form_group">
          <input v-model="mobile" id="mobile" name="mobile" class="c_form_input" autocomplete="off" placeholder="手机号码" type="text">
        </div>
        <div class="c_form_group">
          <input v-model="identifyCode" id="identifyCode" name="identifyCode" autocomplete="off" maxlength="6" class="c_form_input c_form_input_sm"
                 placeholder="动态码" type="text">
          <div class="c_form_input_after">
            <a href="#" class="c-btn">获取动态码</a>
          </div>
        </div>
      </div>

      <div class="submit_btn">
        <button type="submit" class="c-btn" id="showIOSDialog2">提交</button>
      </div>
    </form>
  </div>
</div>
</body>
<!--content-->

@@include('footer.html', {
"vendor_js" : "./js/vendor.js",
"app_js"    : "./js/personData.js"
})