@import "./public/app";

.sign_btn{
  margin-top: 40px;
}
.sign_icon{
  margin-top: 40px;
}
.sign_icon label{
  &:after{
    top: 6px;
  }
  &:before{
    top: 4px;
  }
}
.protocol{
  padding: 20px;
  .protocol_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .main{
    .group{
      margin: 10px 0;
      p{
        font-size: 12px;
      }
    }
  }
}