@font-face {font-family: "material";
  src: url('../font/material/material.eot'); /* IE9*/
  src: url('../font/material/material.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/material/material.woff') format('woff'), /* chrome, firefox */
  url('../font/material/material.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/material/material.svg#material') format('svg'); /* iOS 4.1- */
}

.icon-material {
  font-family:"material" !important;
  font-size: 20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.materialicon-accountbalance:before { content: "\e600"; }
.materialicon-accountbalancewallet:before { content: "\e601"; }
.materialicon-accountbox:before { content: "\e602"; }
.materialicon-accountcircle:before { content: "\e603"; }
.materialicon-adb:before { content: "\e604"; }
.materialicon-add:before { content: "\e605"; }
.materialicon-addaphoto:before { content: "\e606"; }
.materialicon-addalarm:before { content: "\e607"; }
.materialicon-addalert:before { content: "\e608"; }
.materialicon-addbox:before { content: "\e609"; }
.materialicon-addcircle:before { content: "\e60a"; }
.materialicon-addcircleoutline:before { content: "\e60b"; }
.materialicon-addlocation:before { content: "\e60c"; }
.materialicon-3drotation:before { content: "\e60d"; }
.materialicon-acunit:before { content: "\e60e"; }
.materialicon-accessalarm:before { content: "\e60f"; }
.materialicon-accessalarms:before { content: "\e610"; }
.materialicon-accesstime:before { content: "\e611"; }
.materialicon-accessibility:before { content: "\e612"; }
.materialicon-accessible:before { content: "\e613"; }
.materialicon-alarmoff:before { content: "\e614"; }
.materialicon-alarmon:before { content: "\e615"; }
.materialicon-addshoppingcart:before { content: "\e616"; }
.materialicon-addtophotos:before { content: "\e617"; }
.materialicon-addtoqueue:before { content: "\e618"; }
.materialicon-adjust:before { content: "\e619"; }
.materialicon-airlineseatflat:before { content: "\e61a"; }
.materialicon-airlineseatflatangled:before { content: "\e61b"; }
.materialicon-airlineseatindividualsuite:before { content: "\e61c"; }
.materialicon-airlineseatlegroomextra:before { content: "\e61d"; }
.materialicon-airlineseatlegroomnormal:before { content: "\e61e"; }
.materialicon-airlineseatlegroomreduced:before { content: "\e61f"; }
.materialicon-airlineseatreclineextra:before { content: "\e620"; }
.materialicon-airlineseatreclinenormal:before { content: "\e621"; }
.materialicon-airplanemodeactive:before { content: "\e622"; }
.materialicon-airplanemodeinactive:before { content: "\e623"; }
.materialicon-airplay:before { content: "\e624"; }
.materialicon-airportshuttle:before { content: "\e625"; }
.materialicon-alarm:before { content: "\e626"; }
.materialicon-alarmadd:before { content: "\e627"; }
.materialicon-arttrack:before { content: "\e628"; }
.materialicon-aspectratio:before { content: "\e629"; }
.materialicon-assessment:before { content: "\e62a"; }
.materialicon-assignment:before { content: "\e62b"; }
.materialicon-assignmentind:before { content: "\e62c"; }
.materialicon-assignmentlate:before { content: "\e62d"; }
.materialicon-album:before { content: "\e62e"; }
.materialicon-allinclusive:before { content: "\e62f"; }
.materialicon-allout:before { content: "\e630"; }
.materialicon-android:before { content: "\e631"; }
.materialicon-announcement:before { content: "\e632"; }
.materialicon-apps:before { content: "\e633"; }
.materialicon-archive:before { content: "\e634"; }
.materialicon-arrowback:before { content: "\e635"; }
.materialicon-arrowdownward:before { content: "\e636"; }
.materialicon-arrowdropdown:before { content: "\e637"; }
.materialicon-arrowdropdowncircle:before { content: "\e638"; }
.materialicon-arrowdropup:before { content: "\e639"; }
.materialicon-arrowforward:before { content: "\e63a"; }
.materialicon-arrowupward:before { content: "\e63b"; }
.materialicon-batteryfull:before { content: "\e63c"; }
.materialicon-batterystd:before { content: "\e63d"; }
.materialicon-batteryunknown:before { content: "\e63e"; }
.materialicon-beachaccess:before { content: "\e63f"; }
.materialicon-beenhere:before { content: "\e640"; }
.materialicon-assignmentreturn:before { content: "\e641"; }
.materialicon-assignmentreturned:before { content: "\e642"; }
.materialicon-assignmentturnedin:before { content: "\e643"; }
.materialicon-assistant:before { content: "\e644"; }
.materialicon-assistantphoto:before { content: "\e645"; }
.materialicon-attachfile:before { content: "\e646"; }
.materialicon-attachmoney:before { content: "\e647"; }
.materialicon-attachment:before { content: "\e648"; }
.materialicon-audiotrack:before { content: "\e649"; }
.materialicon-autorenew:before { content: "\e64a"; }
.materialicon-avtimer:before { content: "\e64b"; }
.materialicon-backspace:before { content: "\e64c"; }
.materialicon-backup:before { content: "\e64d"; }
.materialicon-batteryalert:before { content: "\e64e"; }
.materialicon-batterychargingfull:before { content: "\e64f"; }
.materialicon-borderhorizontal:before { content: "\e650"; }
.materialicon-borderinner:before { content: "\e651"; }
.materialicon-borderleft:before { content: "\e652"; }
.materialicon-block:before { content: "\e653"; }
.materialicon-bluetooth:before { content: "\e654"; }
.materialicon-bluetoothaudio:before { content: "\e655"; }
.materialicon-bluetoothconnected:before { content: "\e656"; }
.materialicon-bluetoothdisabled:before { content: "\e657"; }
.materialicon-bluetoothsearching:before { content: "\e658"; }
.materialicon-blurcircular:before { content: "\e659"; }
.materialicon-blurlinear:before { content: "\e65a"; }
.materialicon-bluroff:before { content: "\e65b"; }
.materialicon-bluron:before { content: "\e65c"; }
.materialicon-book:before { content: "\e65d"; }
.materialicon-bookmark:before { content: "\e65e"; }
.materialicon-bookmarkoutline:before { content: "\e65f"; }
.materialicon-borderall:before { content: "\e660"; }
.materialicon-borderbottom:before { content: "\e661"; }
.materialicon-borderclear:before { content: "\e662"; }
.materialicon-bordercolor:before { content: "\e663"; }
.materialicon-brightness7:before { content: "\e664"; }
.materialicon-brightnessauto:before { content: "\e665"; }
.materialicon-brightnesshigh:before { content: "\e666"; }
.materialicon-brightnesslow:before { content: "\e667"; }
.materialicon-brightnessmedium:before { content: "\e668"; }
.materialicon-brokenimage:before { content: "\e669"; }
.materialicon-brush:before { content: "\e66a"; }
.materialicon-bugreport:before { content: "\e66b"; }
.materialicon-build:before { content: "\e66c"; }
.materialicon-borderouter:before { content: "\e66d"; }
.materialicon-borderright:before { content: "\e66e"; }
.materialicon-borderstyle:before { content: "\e66f"; }
.materialicon-bordertop:before { content: "\e670"; }
.materialicon-bordervertical:before { content: "\e671"; }
.materialicon-brightness1:before { content: "\e672"; }
.materialicon-brightness2:before { content: "\e673"; }
.materialicon-brightness3:before { content: "\e674"; }
.materialicon-brightness4:before { content: "\e675"; }
.materialicon-brightness5:before { content: "\e676"; }
.materialicon-brightness6:before { content: "\e677"; }
.materialicon-camerarear:before { content: "\e678"; }
.materialicon-cameraroll:before { content: "\e679"; }
.materialicon-cancel:before { content: "\e67a"; }
.materialicon-cardgiftcard:before { content: "\e67b"; }
.materialicon-business:before { content: "\e67c"; }
.materialicon-businesscenter:before { content: "\e67d"; }
.materialicon-cached:before { content: "\e67e"; }
.materialicon-cake:before { content: "\e67f"; }
.materialicon-call:before { content: "\e680"; }
.materialicon-callend:before { content: "\e681"; }
.materialicon-callmade:before { content: "\e682"; }
.materialicon-callmerge:before { content: "\e683"; }
.materialicon-callmissed:before { content: "\e684"; }
.materialicon-callmissedoutgoing:before { content: "\e685"; }
.materialicon-callreceived:before { content: "\e686"; }
.materialicon-callsplit:before { content: "\e687"; }
.materialicon-camera:before { content: "\e688"; }
.materialicon-cameraalt:before { content: "\e689"; }
.materialicon-cameraenhance:before { content: "\e68a"; }
.materialicon-camerafront:before { content: "\e68b"; }
.materialicon-checkcircle:before { content: "\e68c"; }
.materialicon-chevronleft:before { content: "\e68d"; }
.materialicon-chevronright:before { content: "\e68e"; }
.materialicon-childcare:before { content: "\e68f"; }
.materialicon-childfriendly:before { content: "\e690"; }
.materialicon-chromereadermode:before { content: "\e691"; }
.materialicon-cardmembership:before { content: "\e692"; }
.materialicon-cardtravel:before { content: "\e693"; }
.materialicon-casino:before { content: "\e694"; }
.materialicon-cast:before { content: "\e695"; }
.materialicon-castconnected:before { content: "\e696"; }
.materialicon-centerfocusstrong:before { content: "\e697"; }
.materialicon-centerfocusweak:before { content: "\e698"; }
.materialicon-changehistory:before { content: "\e699"; }
.materialicon-chat:before { content: "\e69a"; }
.materialicon-chatbubble:before { content: "\e69b"; }
.materialicon-chatbubbleoutline:before { content: "\e69c"; }
.materialicon-check:before { content: "\e69d"; }
.materialicon-checkbox:before { content: "\e69e"; }
.materialicon-checkboxoutlineblank:before { content: "\e69f"; }
.materialicon-colorize:before { content: "\e6a0"; }
.materialicon-comment:before { content: "\e6a1"; }
.materialicon-compare:before { content: "\e6a2"; }
.materialicon-comparearrows:before { content: "\e6a3"; }
.materialicon-class:before { content: "\e6a4"; }
.materialicon-clear:before { content: "\e6a5"; }
.materialicon-clearall:before { content: "\e6a6"; }
.materialicon-close:before { content: "\e6a7"; }
.materialicon-closedcaption:before { content: "\e6a8"; }
.materialicon-cloud:before { content: "\e6a9"; }
.materialicon-cloudcircle:before { content: "\e6aa"; }
.materialicon-clouddone:before { content: "\e6ab"; }
.materialicon-clouddownload:before { content: "\e6ac"; }
.materialicon-cloudoff:before { content: "\e6ad"; }
.materialicon-cloudqueue:before { content: "\e6ae"; }
.materialicon-cloudupload:before { content: "\e6af"; }
.materialicon-code:before { content: "\e6b0"; }
.materialicon-collections:before { content: "\e6b1"; }
.materialicon-collectionsbookmark:before { content: "\e6b2"; }
.materialicon-colorlens:before { content: "\e6b3"; }
.materialicon-crop75:before { content: "\e6b4"; }
.materialicon-crop169:before { content: "\e6b5"; }
.materialicon-cropdin:before { content: "\e6b6"; }
.materialicon-computer:before { content: "\e6b7"; }
.materialicon-confirmationnumber:before { content: "\e6b8"; }
.materialicon-contactmail:before { content: "\e6b9"; }
.materialicon-contactphone:before { content: "\e6ba"; }
.materialicon-contacts:before { content: "\e6bb"; }
.materialicon-contentcopy:before { content: "\e6bc"; }
.materialicon-contentcut:before { content: "\e6bd"; }
.materialicon-contentpaste:before { content: "\e6be"; }
.materialicon-controlpoint:before { content: "\e6bf"; }
.materialicon-controlpointduplicate:before { content: "\e6c0"; }
.materialicon-copyright:before { content: "\e6c1"; }
.materialicon-create:before { content: "\e6c2"; }
.materialicon-createnewfolder:before { content: "\e6c3"; }
.materialicon-creditcard:before { content: "\e6c4"; }
.materialicon-crop:before { content: "\e6c5"; }
.materialicon-crop32:before { content: "\e6c6"; }
.materialicon-crop54:before { content: "\e6c7"; }
.materialicon-developermode:before { content: "\e6c8"; }
.materialicon-devicehub:before { content: "\e6c9"; }
.materialicon-devices:before { content: "\e6ca"; }
.materialicon-devicesother:before { content: "\e6cb"; }
.materialicon-cropfree:before { content: "\e6cc"; }
.materialicon-croplandscape:before { content: "\e6cd"; }
.materialicon-croporiginal:before { content: "\e6ce"; }
.materialicon-cropportrait:before { content: "\e6cf"; }
.materialicon-croprotate:before { content: "\e6d0"; }
.materialicon-cropsquare:before { content: "\e6d1"; }
.materialicon-dashboard:before { content: "\e6d2"; }
.materialicon-datausage:before { content: "\e6d3"; }
.materialicon-daterange:before { content: "\e6d4"; }
.materialicon-dehaze:before { content: "\e6d5"; }
.materialicon-delete:before { content: "\e6d6"; }
.materialicon-description:before { content: "\e6d7"; }
.materialicon-desktopmac:before { content: "\e6d8"; }
.materialicon-desktopwindows:before { content: "\e6d9"; }
.materialicon-details:before { content: "\e6da"; }
.materialicon-developerboard:before { content: "\e6db"; }
.materialicon-dock:before { content: "\e6dc"; }
.materialicon-domain:before { content: "\e6dd"; }
.materialicon-done:before { content: "\e6de"; }
.materialicon-doneall:before { content: "\e6df"; }
.materialicon-dialersip:before { content: "\e6e0"; }
.materialicon-dialpad:before { content: "\e6e1"; }
.materialicon-directions:before { content: "\e6e2"; }
.materialicon-directionsbike:before { content: "\e6e3"; }
.materialicon-directionsbus:before { content: "\e6e4"; }
.materialicon-directionscar:before { content: "\e6e5"; }
.materialicon-directionsferry:before { content: "\e6e6"; }
.materialicon-directionsrailway:before { content: "\e6e7"; }
.materialicon-directionsrun:before { content: "\e6e8"; }
.materialicon-directionssubway:before { content: "\e6e9"; }
.materialicon-directionstransit:before { content: "\e6ea"; }
.materialicon-directionswalk:before { content: "\e6eb"; }
.materialicon-discfull:before { content: "\e6ec"; }
.materialicon-dns:before { content: "\e6ed"; }
.materialicon-donotdisturb:before { content: "\e6ee"; }
.materialicon-donotdisturbalt:before { content: "\e6ef"; }
.materialicon-eventavailable:before { content: "\e6f0"; }
.materialicon-eventbusy:before { content: "\e6f1"; }
.materialicon-eventnote:before { content: "\e6f2"; }
.materialicon-eventseat:before { content: "\e6f3"; }
.materialicon-exittoapp:before { content: "\e6f4"; }
.materialicon-donutlarge:before { content: "\e6f5"; }
.materialicon-donutsmall:before { content: "\e6f6"; }
.materialicon-drafts:before { content: "\e6f7"; }
.materialicon-draghandle:before { content: "\e6f8"; }
.materialicon-driveeta:before { content: "\e6f9"; }
.materialicon-dvr:before { content: "\e6fa"; }
.materialicon-edit:before { content: "\e6fb"; }
.materialicon-editlocation:before { content: "\e6fc"; }
.materialicon-eject:before { content: "\e6fd"; }
.materialicon-email:before { content: "\e6fe"; }
.materialicon-enhancedencryption:before { content: "\e6ff"; }
.materialicon-equalizer:before { content: "\e700"; }
.materialicon-error:before { content: "\e701"; }
.materialicon-erroroutline:before { content: "\e702"; }
.materialicon-event:before { content: "\e703"; }
.materialicon-feedback:before { content: "\e704"; }
.materialicon-fiberdvr:before { content: "\e705"; }
.materialicon-fibermanualrecord:before { content: "\e706"; }
.materialicon-fibernew:before { content: "\e707"; }
.materialicon-expandless:before { content: "\e708"; }
.materialicon-expandmore:before { content: "\e709"; }
.materialicon-explicit:before { content: "\e70a"; }
.materialicon-explore:before { content: "\e70b"; }
.materialicon-exposure:before { content: "\e70c"; }
.materialicon-exposureminus1:before { content: "\e70d"; }
.materialicon-exposureminus2:before { content: "\e70e"; }
.materialicon-exposureplus1:before { content: "\e70f"; }
.materialicon-exposureplus2:before { content: "\e710"; }
.materialicon-exposurezero:before { content: "\e711"; }
.materialicon-extension:before { content: "\e712"; }
.materialicon-face:before { content: "\e713"; }
.materialicon-fastforward:before { content: "\e714"; }
.materialicon-fastrewind:before { content: "\e715"; }
.materialicon-favorite:before { content: "\e716"; }
.materialicon-favoriteoutline:before { content: "\e717"; }
.materialicon-filtercenterfocus:before { content: "\e718"; }
.materialicon-filterdrama:before { content: "\e719"; }
.materialicon-filterframes:before { content: "\e71a"; }
.materialicon-filterhdr:before { content: "\e71b"; }
.materialicon-fiberpin:before { content: "\e71c"; }
.materialicon-fibersmartrecord:before { content: "\e71d"; }
.materialicon-filedownload:before { content: "\e71e"; }
.materialicon-fileupload:before { content: "\e71f"; }
.materialicon-filter:before { content: "\e720"; }
.materialicon-filter1:before { content: "\e721"; }
.materialicon-filter2:before { content: "\e722"; }
.materialicon-filter3:before { content: "\e723"; }
.materialicon-filter4:before { content: "\e724"; }
.materialicon-filter5:before { content: "\e725"; }
.materialicon-filter6:before { content: "\e726"; }
.materialicon-filter7:before { content: "\e727"; }
.materialicon-filter8:before { content: "\e728"; }
.materialicon-filter9:before { content: "\e729"; }
.materialicon-filter9plus:before { content: "\e72a"; }
.materialicon-filterbandw:before { content: "\e72b"; }
.materialicon-flighttakeoff:before { content: "\e72c"; }
.materialicon-flip:before { content: "\e72d"; }
.materialicon-fliptoback:before { content: "\e72e"; }
.materialicon-fliptofront:before { content: "\e72f"; }
.materialicon-folder:before { content: "\e730"; }
.materialicon-filterlist:before { content: "\e731"; }
.materialicon-filternone:before { content: "\e732"; }
.materialicon-filtertiltshift:before { content: "\e733"; }
.materialicon-filtervintage:before { content: "\e734"; }
.materialicon-findinpage:before { content: "\e735"; }
.materialicon-findreplace:before { content: "\e736"; }
.materialicon-fingerprint:before { content: "\e737"; }
.materialicon-fitnesscenter:before { content: "\e738"; }
.materialicon-flag:before { content: "\e739"; }
.materialicon-flare:before { content: "\e73a"; }
.materialicon-flashauto:before { content: "\e73b"; }
.materialicon-flashoff:before { content: "\e73c"; }
.materialicon-flashon:before { content: "\e73d"; }
.materialicon-flight:before { content: "\e73e"; }
.materialicon-flightland:before { content: "\e73f"; }
.materialicon-formatindentdecrease:before { content: "\e740"; }
.materialicon-formatindentincrease:before { content: "\e741"; }
.materialicon-formatitalic:before { content: "\e742"; }
.materialicon-formatlinespacing:before { content: "\e743"; }
.materialicon-formatlistbulleted:before { content: "\e744"; }
.materialicon-formatlistnumbered:before { content: "\e745"; }
.materialicon-formatpaint:before { content: "\e746"; }
.materialicon-folderopen:before { content: "\e747"; }
.materialicon-foldershared:before { content: "\e748"; }
.materialicon-folderspecial:before { content: "\e749"; }
.materialicon-fontdownload:before { content: "\e74a"; }
.materialicon-formataligncenter:before { content: "\e74b"; }
.materialicon-formatalignjustify:before { content: "\e74c"; }
.materialicon-formatalignleft:before { content: "\e74d"; }
.materialicon-formatalignright:before { content: "\e74e"; }
.materialicon-formatbold:before { content: "\e74f"; }
.materialicon-formatclear:before { content: "\e750"; }
.materialicon-formatcolorfill:before { content: "\e751"; }
.materialicon-formatcolorreset:before { content: "\e752"; }
.materialicon-formatcolortext:before { content: "\e753"; }
.materialicon-fullscreenexit:before { content: "\e754"; }
.materialicon-functions:before { content: "\e755"; }
.materialicon-gamepad:before { content: "\e756"; }
.materialicon-games:before { content: "\e757"; }
.materialicon-gavel:before { content: "\e758"; }
.materialicon-gesture:before { content: "\e759"; }
.materialicon-formatquote:before { content: "\e75a"; }
.materialicon-formatshapes:before { content: "\e75b"; }
.materialicon-formatsize:before { content: "\e75c"; }
.materialicon-formatstrikethrough:before { content: "\e75d"; }
.materialicon-formattextdirectionltor:before { content: "\e75e"; }
.materialicon-formattextdirectionrtol:before { content: "\e75f"; }
.materialicon-formatunderlined:before { content: "\e760"; }
.materialicon-forum:before { content: "\e761"; }
.materialicon-forward:before { content: "\e762"; }
.materialicon-forward5:before { content: "\e763"; }
.materialicon-forward10:before { content: "\e764"; }
.materialicon-forward30:before { content: "\e765"; }
.materialicon-freebreakfast:before { content: "\e766"; }
.materialicon-fullscreen:before { content: "\e767"; }
.materialicon-hdroff:before { content: "\e768"; }
.materialicon-hdron:before { content: "\e769"; }
.materialicon-hdrstrong:before { content: "\e76a"; }
.materialicon-getapp:before { content: "\e76b"; }
.materialicon-gif:before { content: "\e76c"; }
.materialicon-goat:before { content: "\e76d"; }
.materialicon-golfcourse:before { content: "\e76e"; }
.materialicon-gpsfixed:before { content: "\e76f"; }
.materialicon-gpsnotfixed:before { content: "\e770"; }
.materialicon-gpsoff:before { content: "\e771"; }
.materialicon-grade:before { content: "\e772"; }
.materialicon-gradient:before { content: "\e773"; }
.materialicon-grain:before { content: "\e774"; }
.materialicon-graphiceq:before { content: "\e775"; }
.materialicon-gridoff:before { content: "\e776"; }
.materialicon-gridon:before { content: "\e777"; }
.materialicon-group:before { content: "\e778"; }
.materialicon-groupadd:before { content: "\e779"; }
.materialicon-groupwork:before { content: "\e77a"; }
.materialicon-hd:before { content: "\e77b"; }
.materialicon-hourglassfull:before { content: "\e77c"; }
.materialicon-http:before { content: "\e77d"; }
.materialicon-https:before { content: "\e77e"; }
.materialicon-image:before { content: "\e77f"; }
.materialicon-imageaspectratio:before { content: "\e780"; }
.materialicon-hdrweak:before { content: "\e781"; }
.materialicon-headset:before { content: "\e782"; }
.materialicon-headsetmic:before { content: "\e783"; }
.materialicon-healing:before { content: "\e784"; }
.materialicon-hearing:before { content: "\e785"; }
.materialicon-help:before { content: "\e786"; }
.materialicon-helpoutline:before { content: "\e787"; }
.materialicon-highquality:before { content: "\e788"; }
.materialicon-highlight:before { content: "\e789"; }
.materialicon-highlightremove:before { content: "\e78a"; }
.materialicon-history:before { content: "\e78b"; }
.materialicon-home:before { content: "\e78c"; }
.materialicon-hottub:before { content: "\e78d"; }
.materialicon-hotel:before { content: "\e78e"; }
.materialicon-hourglassempty:before { content: "\e78f"; }
.materialicon-invertcolorson:before { content: "\e790"; }
.materialicon-iso:before { content: "\e791"; }
.materialicon-keyboard:before { content: "\e792"; }
.materialicon-keyboardarrowdown:before { content: "\e793"; }
.materialicon-importcontacts:before { content: "\e794"; }
.materialicon-importexport:before { content: "\e795"; }
.materialicon-importantdevices:before { content: "\e796"; }
.materialicon-inbox:before { content: "\e797"; }
.materialicon-indeterminatecheckbox:before { content: "\e798"; }
.materialicon-info:before { content: "\e799"; }
.materialicon-infooutline:before { content: "\e79a"; }
.materialicon-input:before { content: "\e79b"; }
.materialicon-insertchart:before { content: "\e79c"; }
.materialicon-insertcomment:before { content: "\e79d"; }
.materialicon-insertdrivefile:before { content: "\e79e"; }
.materialicon-insertemoticon:before { content: "\e79f"; }
.materialicon-insertinvitation:before { content: "\e7a0"; }
.materialicon-insertlink:before { content: "\e7a1"; }
.materialicon-insertphoto:before { content: "\e7a2"; }
.materialicon-invertcolorsoff:before { content: "\e7a3"; }
.materialicon-keyboardvoice:before { content: "\e7a4"; }
.materialicon-kitchen:before { content: "\e7a5"; }
.materialicon-label:before { content: "\e7a6"; }
.materialicon-labeloutline:before { content: "\e7a7"; }
.materialicon-landscape:before { content: "\e7a8"; }
.materialicon-language:before { content: "\e7a9"; }
.materialicon-laptop:before { content: "\e7aa"; }
.materialicon-laptopchromebook:before { content: "\e7ab"; }
.materialicon-laptopmac:before { content: "\e7ac"; }
.materialicon-laptopwindows:before { content: "\e7ad"; }
.materialicon-launch:before { content: "\e7ae"; }
.materialicon-keyboardarrowleft:before { content: "\e7af"; }
.materialicon-keyboardarrowright:before { content: "\e7b0"; }
.materialicon-keyboardarrowup:before { content: "\e7b1"; }
.materialicon-keyboardbackspace:before { content: "\e7b2"; }
.materialicon-keyboardcapslock:before { content: "\e7b3"; }
.materialicon-keyboardcontrol:before { content: "\e7b4"; }
.materialicon-keyboardhide:before { content: "\e7b5"; }
.materialicon-keyboardreturn:before { content: "\e7b6"; }
.materialicon-keyboardtab:before { content: "\e7b7"; }
.materialicon-livehelp:before { content: "\e7b8"; }
.materialicon-livetv:before { content: "\e7b9"; }
.materialicon-localairport:before { content: "\e7ba"; }
.materialicon-localatm:before { content: "\e7bb"; }
.materialicon-localattraction:before { content: "\e7bc"; }
.materialicon-layers:before { content: "\e7bd"; }
.materialicon-layersclear:before { content: "\e7be"; }
.materialicon-leakadd:before { content: "\e7bf"; }
.materialicon-leakremove:before { content: "\e7c0"; }
.materialicon-lens:before { content: "\e7c1"; }
.materialicon-libraryadd:before { content: "\e7c2"; }
.materialicon-librarybooks:before { content: "\e7c3"; }
.materialicon-librarymusic:before { content: "\e7c4"; }
.materialicon-lightbulboutline:before { content: "\e7c5"; }
.materialicon-linestyle:before { content: "\e7c6"; }
.materialicon-lineweight:before { content: "\e7c7"; }
.materialicon-linearscale:before { content: "\e7c8"; }
.materialicon-link:before { content: "\e7c9"; }
.materialicon-linkedcamera:before { content: "\e7ca"; }
.materialicon-list:before { content: "\e7cb"; }
.materialicon-localphone:before { content: "\e7cc"; }
.materialicon-localpizza:before { content: "\e7cd"; }
.materialicon-localplay:before { content: "\e7ce"; }
.materialicon-localbar:before { content: "\e7cf"; }
.materialicon-localcafe:before { content: "\e7d0"; }
.materialicon-localcarwash:before { content: "\e7d1"; }
.materialicon-localconveniencestore:before { content: "\e7d2"; }
.materialicon-localdrink:before { content: "\e7d3"; }
.materialicon-localflorist:before { content: "\e7d4"; }
.materialicon-localgasstation:before { content: "\e7d5"; }
.materialicon-localgrocerystore:before { content: "\e7d6"; }
.materialicon-localhospital:before { content: "\e7d7"; }
.materialicon-localhotel:before { content: "\e7d8"; }
.materialicon-locallaundryservice:before { content: "\e7d9"; }
.materialicon-locallibrary:before { content: "\e7da"; }
.materialicon-localmall:before { content: "\e7db"; }
.materialicon-localmovies:before { content: "\e7dc"; }
.materialicon-localoffer:before { content: "\e7dd"; }
.materialicon-localparking:before { content: "\e7de"; }
.materialicon-localpharmacy:before { content: "\e7df"; }
.materialicon-looks3:before { content: "\e7e0"; }
.materialicon-looks4:before { content: "\e7e1"; }
.materialicon-looks5:before { content: "\e7e2"; }
.materialicon-looks6:before { content: "\e7e3"; }
.materialicon-localpostoffice:before { content: "\e7e4"; }
.materialicon-localprintshop:before { content: "\e7e5"; }
.materialicon-localrestaurant:before { content: "\e7e6"; }
.materialicon-localsee:before { content: "\e7e7"; }
.materialicon-localshipping:before { content: "\e7e8"; }
.materialicon-localtaxi:before { content: "\e7e9"; }
.materialicon-locationcity:before { content: "\e7ea"; }
.materialicon-locationdisabled:before { content: "\e7eb"; }
.materialicon-locationhistory:before { content: "\e7ec"; }
.materialicon-locationoff:before { content: "\e7ed"; }
.materialicon-locationon:before { content: "\e7ee"; }
.materialicon-locationsearching:before { content: "\e7ef"; }
.materialicon-lock:before { content: "\e7f0"; }
.materialicon-lockopen:before { content: "\e7f1"; }
.materialicon-lockoutline:before { content: "\e7f2"; }
.materialicon-looks:before { content: "\e7f3"; }
.materialicon-micnone:before { content: "\e7f4"; }
.materialicon-micoff:before { content: "\e7f5"; }
.materialicon-mms:before { content: "\e7f6"; }
.materialicon-modecomment:before { content: "\e7f7"; }
.materialicon-modeedit:before { content: "\e7f8"; }
.materialicon-looksone:before { content: "\e7f9"; }
.materialicon-lookstwo:before { content: "\e7fa"; }
.materialicon-loop:before { content: "\e7fb"; }
.materialicon-loupe:before { content: "\e7fc"; }
.materialicon-loyalty:before { content: "\e7fd"; }
.materialicon-mail:before { content: "\e7fe"; }
.materialicon-mailoutline:before { content: "\e7ff"; }
.materialicon-map:before { content: "\e800"; }
.materialicon-markunread:before { content: "\e801"; }
.materialicon-markunreadmailbox:before { content: "\e802"; }
.materialicon-memory:before { content: "\e803"; }
.materialicon-menu:before { content: "\e804"; }
.materialicon-mergetype:before { content: "\e805"; }
.materialicon-message:before { content: "\e806"; }
.materialicon-mic:before { content: "\e807"; }
.materialicon-nature:before { content: "\e808"; }
.materialicon-naturepeople:before { content: "\e809"; }
.materialicon-navigatebefore:before { content: "\e80a"; }
.materialicon-navigatenext:before { content: "\e80b"; }
.materialicon-navigation:before { content: "\e80c"; }
.materialicon-moneyoff:before { content: "\e80d"; }
.materialicon-monochromephotos:before { content: "\e80e"; }
.materialicon-mood:before { content: "\e80f"; }
.materialicon-moodbad:before { content: "\e810"; }
.materialicon-more:before { content: "\e811"; }
.materialicon-morevert:before { content: "\e812"; }
.materialicon-motorcycle:before { content: "\e813"; }
.materialicon-mouse:before { content: "\e814"; }
.materialicon-movetoinbox:before { content: "\e815"; }
.materialicon-movie:before { content: "\e816"; }
.materialicon-moviecreation:before { content: "\e817"; }
.materialicon-moviefilter:before { content: "\e818"; }
.materialicon-musicnote:before { content: "\e819"; }
.materialicon-musicvideo:before { content: "\e81a"; }
.materialicon-mylocation:before { content: "\e81b"; }
.materialicon-notificationsoff:before { content: "\e81c"; }
.materialicon-notificationspaused:before { content: "\e81d"; }
.materialicon-nowwallpaper:before { content: "\e81e"; }
.materialicon-nowwidgets:before { content: "\e81f"; }
.materialicon-offlinepin:before { content: "\e820"; }
.materialicon-nearme:before { content: "\e821"; }
.materialicon-networkcell:before { content: "\e822"; }
.materialicon-networkcheck:before { content: "\e823"; }
.materialicon-networklocked:before { content: "\e824"; }
.materialicon-networkwifi:before { content: "\e825"; }
.materialicon-newreleases:before { content: "\e826"; }
.materialicon-nextweek:before { content: "\e827"; }
.materialicon-nfc:before { content: "\e828"; }
.materialicon-noencryption:before { content: "\e829"; }
.materialicon-nosim:before { content: "\e82a"; }
.materialicon-notinterested:before { content: "\e82b"; }
.materialicon-noteadd:before { content: "\e82c"; }
.materialicon-notifications:before { content: "\e82d"; }
.materialicon-notificationsactive:before { content: "\e82e"; }
.materialicon-notificationsnone:before { content: "\e82f"; }
.materialicon-pausecirclefilled:before { content: "\e830"; }
.materialicon-pausecircleoutline:before { content: "\e831"; }
.materialicon-payment:before { content: "\e832"; }
.materialicon-people:before { content: "\e833"; }
.materialicon-ondemandvideo:before { content: "\e834"; }
.materialicon-opacity:before { content: "\e835"; }
.materialicon-openinbrowser:before { content: "\e836"; }
.materialicon-openinnew:before { content: "\e837"; }
.materialicon-openwith:before { content: "\e838"; }
.materialicon-pages:before { content: "\e839"; }
.materialicon-pageview:before { content: "\e83a"; }
.materialicon-palette:before { content: "\e83b"; }
.materialicon-pantool:before { content: "\e83c"; }
.materialicon-panorama:before { content: "\e83d"; }
.materialicon-panoramafisheye:before { content: "\e83e"; }
.materialicon-panoramahorizontal:before { content: "\e83f"; }
.materialicon-panoramavertical:before { content: "\e840"; }
.materialicon-panoramawideangle:before { content: "\e841"; }
.materialicon-partymode:before { content: "\e842"; }
.materialicon-pause:before { content: "\e843"; }
.materialicon-phone:before { content: "\e844"; }
.materialicon-phoneandroid:before { content: "\e845"; }
.materialicon-phonebluetoothspeaker:before { content: "\e846"; }
.materialicon-phoneforwarded:before { content: "\e847"; }
.materialicon-phoneintalk:before { content: "\e848"; }
.materialicon-peopleoutline:before { content: "\e849"; }
.materialicon-permcameramic:before { content: "\e84a"; }
.materialicon-permcontactcalendar:before { content: "\e84b"; }
.materialicon-permdatasetting:before { content: "\e84c"; }
.materialicon-permdeviceinformation:before { content: "\e84d"; }
.materialicon-permidentity:before { content: "\e84e"; }
.materialicon-permmedia:before { content: "\e84f"; }
.materialicon-permphonemsg:before { content: "\e850"; }
.materialicon-permscanwifi:before { content: "\e851"; }
.materialicon-person:before { content: "\e852"; }
.materialicon-personadd:before { content: "\e853"; }
.materialicon-personoutline:before { content: "\e854"; }
.materialicon-personpincircle:before { content: "\e855"; }
.materialicon-personalvideo:before { content: "\e856"; }
.materialicon-pets:before { content: "\e857"; }
.materialicon-photosizeselectactual:before { content: "\e858"; }
.materialicon-photosizeselectlarge:before { content: "\e859"; }
.materialicon-photosizeselectsmall:before { content: "\e85a"; }
.materialicon-pictureaspdf:before { content: "\e85b"; }
.materialicon-pictureinpicture:before { content: "\e85c"; }
.materialicon-phoneiphone:before { content: "\e85d"; }
.materialicon-phonelocked:before { content: "\e85e"; }
.materialicon-phonemissed:before { content: "\e85f"; }
.materialicon-phonepaused:before { content: "\e860"; }
.materialicon-phonelink:before { content: "\e861"; }
.materialicon-phonelinkerase:before { content: "\e862"; }
.materialicon-phonelinklock:before { content: "\e863"; }
.materialicon-phonelinkoff:before { content: "\e864"; }
.materialicon-phonelinkring:before { content: "\e865"; }
.materialicon-phonelinksetup:before { content: "\e866"; }
.materialicon-photo:before { content: "\e867"; }
.materialicon-photoalbum:before { content: "\e868"; }
.materialicon-photocamera:before { content: "\e869"; }
.materialicon-photofilter:before { content: "\e86a"; }
.materialicon-photolibrary:before { content: "\e86b"; }
.materialicon-portrait:before { content: "\e86c"; }
.materialicon-power:before { content: "\e86d"; }
.materialicon-powerinput:before { content: "\e86e"; }
.materialicon-powersettingsnew:before { content: "\e86f"; }
.materialicon-pregnantwoman:before { content: "\e870"; }
.materialicon-pictureinpicturealt:before { content: "\e871"; }
.materialicon-pindrop:before { content: "\e872"; }
.materialicon-place:before { content: "\e873"; }
.materialicon-playarrow:before { content: "\e874"; }
.materialicon-playcirclefilled:before { content: "\e875"; }
.materialicon-playcircleoutline:before { content: "\e876"; }
.materialicon-playforwork:before { content: "\e877"; }
.materialicon-playlistadd:before { content: "\e878"; }
.materialicon-playlistaddcheck:before { content: "\e879"; }
.materialicon-playlistplay:before { content: "\e87a"; }
.materialicon-plusone:before { content: "\e87b"; }
.materialicon-poll:before { content: "\e87c"; }
.materialicon-polymer:before { content: "\e87d"; }
.materialicon-pool:before { content: "\e87e"; }
.materialicon-portablewifioff:before { content: "\e87f"; }
.materialicon-redeem:before { content: "\e880"; }
.materialicon-redo:before { content: "\e881"; }
.materialicon-refresh:before { content: "\e882"; }
.materialicon-remove:before { content: "\e883"; }
.materialicon-presenttoall:before { content: "\e884"; }
.materialicon-print:before { content: "\e885"; }
.materialicon-public:before { content: "\e886"; }
.materialicon-publish:before { content: "\e887"; }
.materialicon-querybuilder:before { content: "\e888"; }
.materialicon-questionanswer:before { content: "\e889"; }
.materialicon-queue:before { content: "\e88a"; }
.materialicon-queuemusic:before { content: "\e88b"; }
.materialicon-queueplaynext:before { content: "\e88c"; }
.materialicon-radio:before { content: "\e88d"; }
.materialicon-radiobuttonchecked:before { content: "\e88e"; }
.materialicon-radiobuttonunchecked:before { content: "\e88f"; }
.materialicon-ratereview:before { content: "\e890"; }
.materialicon-receipt:before { content: "\e891"; }
.materialicon-recentactors:before { content: "\e892"; }
.materialicon-recordvoiceover:before { content: "\e893"; }
.materialicon-restore:before { content: "\e894"; }
.materialicon-ringvolume:before { content: "\e895"; }
.materialicon-room:before { content: "\e896"; }
.materialicon-roomservice:before { content: "\e897"; }
.materialicon-removecircle:before { content: "\e898"; }
.materialicon-removecircleoutline:before { content: "\e899"; }
.materialicon-removefromqueue:before { content: "\e89a"; }
.materialicon-removeredeye:before { content: "\e89b"; }
.materialicon-reorder:before { content: "\e89c"; }
.materialicon-repeat:before { content: "\e89d"; }
.materialicon-repeatone:before { content: "\e89e"; }
.materialicon-replay:before { content: "\e89f"; }
.materialicon-replay5:before { content: "\e8a0"; }
.materialicon-replay10:before { content: "\e8a1"; }
.materialicon-replay30:before { content: "\e8a2"; }
.materialicon-reply:before { content: "\e8a3"; }
.materialicon-replyall:before { content: "\e8a4"; }
.materialicon-report:before { content: "\e8a5"; }
.materialicon-reportproblem:before { content: "\e8a6"; }
.materialicon-restaurantmenu:before { content: "\e8a7"; }
.materialicon-screenshare:before { content: "\e8a8"; }
.materialicon-sdcard:before { content: "\e8a9"; }
.materialicon-sdstorage:before { content: "\e8aa"; }
.materialicon-search:before { content: "\e8ab"; }
.materialicon-rotate90degreesccw:before { content: "\e8ac"; }
.materialicon-rotateleft:before { content: "\e8ad"; }
.materialicon-rotateright:before { content: "\e8ae"; }
.materialicon-roundedcorner:before { content: "\e8af"; }
.materialicon-router:before { content: "\e8b0"; }
.materialicon-rowing:before { content: "\e8b1"; }
.materialicon-rvhookup:before { content: "\e8b2"; }
.materialicon-satellite:before { content: "\e8b3"; }
.materialicon-save:before { content: "\e8b4"; }
.materialicon-scanner:before { content: "\e8b5"; }
.materialicon-schedule:before { content: "\e8b6"; }
.materialicon-school:before { content: "\e8b7"; }
.materialicon-screenlocklandscape:before { content: "\e8b8"; }
.materialicon-screenlockportrait:before { content: "\e8b9"; }
.materialicon-screenlockrotation:before { content: "\e8ba"; }
.materialicon-screenrotation:before { content: "\e8bb"; }
.materialicon-settingsphone:before { content: "\e8bc"; }
.materialicon-settingspower:before { content: "\e8bd"; }
.materialicon-settingsremote:before { content: "\e8be"; }
.materialicon-settingssystemdaydream:before { content: "\e8bf"; }
.materialicon-security:before { content: "\e8c0"; }
.materialicon-selectall:before { content: "\e8c1"; }
.materialicon-send:before { content: "\e8c2"; }
.materialicon-settings:before { content: "\e8c3"; }
.materialicon-settingsapplications:before { content: "\e8c4"; }
.materialicon-settingsbackuprestore:before { content: "\e8c5"; }
.materialicon-settingsbluetooth:before { content: "\e8c6"; }
.materialicon-settingsbrightness:before { content: "\e8c7"; }
.materialicon-settingscell:before { content: "\e8c8"; }
.materialicon-settingsethernet:before { content: "\e8c9"; }
.materialicon-settingsinputantenna:before { content: "\e8ca"; }
.materialicon-settingsinputcomponent:before { content: "\e8cb"; }
.materialicon-settingsinputcomposite:before { content: "\e8cc"; }
.materialicon-settingsinputhdmi:before { content: "\e8cd"; }
.materialicon-settingsinputsvideo:before { content: "\e8ce"; }
.materialicon-settingsoverscan:before { content: "\e8cf"; }
.materialicon-simcard:before { content: "\e8d0"; }
.materialicon-simcardalert:before { content: "\e8d1"; }
.materialicon-skipnext:before { content: "\e8d2"; }
.materialicon-skipprevious:before { content: "\e8d3"; }
.materialicon-settingsvoice:before { content: "\e8d4"; }
.materialicon-share:before { content: "\e8d5"; }
.materialicon-shop:before { content: "\e8d6"; }
.materialicon-shoptwo:before { content: "\e8d7"; }
.materialicon-shoppingbasket:before { content: "\e8d8"; }
.materialicon-shoppingcart:before { content: "\e8d9"; }
.materialicon-shorttext:before { content: "\e8da"; }
.materialicon-shuffle:before { content: "\e8db"; }
.materialicon-signalcellular4bar:before { content: "\e8dc"; }
.materialicon-signalcellularconnectednointernet4bar:before { content: "\e8dd"; }
.materialicon-signalcellularnosim:before { content: "\e8de"; }
.materialicon-signalcellularnull:before { content: "\e8df"; }
.materialicon-signalcellularoff:before { content: "\e8e0"; }
.materialicon-signalwifi4bar:before { content: "\e8e1"; }
.materialicon-signalwifi4barlock:before { content: "\e8e2"; }
.materialicon-signalwifioff:before { content: "\e8e3"; }
.materialicon-spellcheck:before { content: "\e8e4"; }
.materialicon-star:before { content: "\e8e5"; }
.materialicon-starhalf:before { content: "\e8e6"; }
.materialicon-staroutline:before { content: "\e8e7"; }
.materialicon-slideshow:before { content: "\e8e8"; }
.materialicon-slowmotionvideo:before { content: "\e8e9"; }
.materialicon-smartphone:before { content: "\e8ea"; }
.materialicon-smokefree:before { content: "\e8eb"; }
.materialicon-smokingrooms:before { content: "\e8ec"; }
.materialicon-sms:before { content: "\e8ed"; }
.materialicon-smsfailed:before { content: "\e8ee"; }
.materialicon-snooze:before { content: "\e8ef"; }
.materialicon-sort:before { content: "\e8f0"; }
.materialicon-sortbyalpha:before { content: "\e8f1"; }
.materialicon-spa:before { content: "\e8f2"; }
.materialicon-spacebar:before { content: "\e8f3"; }
.materialicon-speaker:before { content: "\e8f4"; }
.materialicon-speakergroup:before { content: "\e8f5"; }
.materialicon-speakernotes:before { content: "\e8f6"; }
.materialicon-speakerphone:before { content: "\e8f7"; }
.materialicon-subscriptions:before { content: "\e8f8"; }
.materialicon-subtitles:before { content: "\e8f9"; }
.materialicon-supervisoraccount:before { content: "\e8fa"; }
.materialicon-surroundsound:before { content: "\e8fb"; }
.materialicon-stars:before { content: "\e8fc"; }
.materialicon-staycurrentlandscape:before { content: "\e8fd"; }
.materialicon-staycurrentportrait:before { content: "\e8fe"; }
.materialicon-stayprimarylandscape:before { content: "\e8ff"; }
.materialicon-stayprimaryportrait:before { content: "\e900"; }
.materialicon-stop:before { content: "\e901"; }
.materialicon-stopscreenshare:before { content: "\e902"; }
.materialicon-storage:before { content: "\e903"; }
.materialicon-store:before { content: "\e904"; }
.materialicon-storemalldirectory:before { content: "\e905"; }
.materialicon-straighten:before { content: "\e906"; }
.materialicon-strikethroughs:before { content: "\e907"; }
.materialicon-style:before { content: "\e908"; }
.materialicon-subdirectoryarrowleft:before { content: "\e909"; }
.materialicon-subdirectoryarrowright:before { content: "\e90a"; }
.materialicon-subject:before { content: "\e90b"; }
.materialicon-tagfaces:before { content: "\e90c"; }
.materialicon-tapandplay:before { content: "\e90d"; }
.materialicon-terrain:before { content: "\e90e"; }
.materialicon-textfields:before { content: "\e90f"; }
.materialicon-swapcalls:before { content: "\e910"; }
.materialicon-swaphoriz:before { content: "\e911"; }
.materialicon-swapvert:before { content: "\e912"; }
.materialicon-swapverticalcircle:before { content: "\e913"; }
.materialicon-switchcamera:before { content: "\e914"; }
.materialicon-switchvideo:before { content: "\e915"; }
.materialicon-sync:before { content: "\e916"; }
.materialicon-syncdisabled:before { content: "\e917"; }
.materialicon-syncproblem:before { content: "\e918"; }
.materialicon-systemupdate:before { content: "\e919"; }
.materialicon-systemupdatealt:before { content: "\e91a"; }
.materialicon-tab:before { content: "\e91b"; }
.materialicon-tabunselected:before { content: "\e91c"; }
.materialicon-tablet:before { content: "\e91d"; }
.materialicon-tabletandroid:before { content: "\e91e"; }
.materialicon-tabletmac:before { content: "\e91f"; }
.materialicon-tonality:before { content: "\e920"; }
.materialicon-touchapp:before { content: "\e921"; }
.materialicon-toys:before { content: "\e922"; }
.materialicon-textformat:before { content: "\e923"; }
.materialicon-textsms:before { content: "\e924"; }
.materialicon-texture:before { content: "\e925"; }
.materialicon-theaters:before { content: "\e926"; }
.materialicon-thumbdown:before { content: "\e927"; }
.materialicon-thumbup:before { content: "\e928"; }
.materialicon-thumbsupdown:before { content: "\e929"; }
.materialicon-timetoleave:before { content: "\e92a"; }
.materialicon-timelapse:before { content: "\e92b"; }
.materialicon-timeline:before { content: "\e92c"; }
.materialicon-timer:before { content: "\e92d"; }
.materialicon-timer3:before { content: "\e92e"; }
.materialicon-timer10:before { content: "\e92f"; }
.materialicon-timeroff:before { content: "\e930"; }
.materialicon-toc:before { content: "\e931"; }
.materialicon-today:before { content: "\e932"; }
.materialicon-toll:before { content: "\e933"; }
.materialicon-usb:before { content: "\e934"; }
.materialicon-verifieduser:before { content: "\e935"; }
.materialicon-verticalalignbottom:before { content: "\e936"; }
.materialicon-verticalaligncenter:before { content: "\e937"; }
.materialicon-trackchanges:before { content: "\e938"; }
.materialicon-traffic:before { content: "\e939"; }
.materialicon-transform:before { content: "\e93a"; }
.materialicon-translate:before { content: "\e93b"; }
.materialicon-trendingdown:before { content: "\e93c"; }
.materialicon-trendingneutral:before { content: "\e93d"; }
.materialicon-trendingup:before { content: "\e93e"; }
.materialicon-tune:before { content: "\e93f"; }
.materialicon-turnedin:before { content: "\e940"; }
.materialicon-turnedinnot:before { content: "\e941"; }
.materialicon-tv:before { content: "\e942"; }
.materialicon-unarchive:before { content: "\e943"; }
.materialicon-undo:before { content: "\e944"; }
.materialicon-unfoldless:before { content: "\e945"; }
.materialicon-unfoldmore:before { content: "\e946"; }
.materialicon-update:before { content: "\e947"; }
.materialicon-viewquilt:before { content: "\e948"; }
.materialicon-viewstream:before { content: "\e949"; }
.materialicon-viewweek:before { content: "\e94a"; }
.materialicon-vignette:before { content: "\e94b"; }
.materialicon-verticalaligntop:before { content: "\e94c"; }
.materialicon-vibration:before { content: "\e94d"; }
.materialicon-videocollection:before { content: "\e94e"; }
.materialicon-videocam:before { content: "\e94f"; }
.materialicon-videocamoff:before { content: "\e950"; }
.materialicon-videogameasset:before { content: "\e951"; }
.materialicon-viewagenda:before { content: "\e952"; }
.materialicon-viewarray:before { content: "\e953"; }
.materialicon-viewcarousel:before { content: "\e954"; }
.materialicon-viewcolumn:before { content: "\e955"; }
.materialicon-viewcomfortable:before { content: "\e956"; }
.materialicon-viewcompact:before { content: "\e957"; }
.materialicon-viewday:before { content: "\e958"; }
.materialicon-viewheadline:before { content: "\e959"; }
.materialicon-viewlist:before { content: "\e95a"; }
.materialicon-viewmodule:before { content: "\e95b"; }
.materialicon-wbiridescent:before { content: "\e95c"; }
.materialicon-wbsunny:before { content: "\e95d"; }
.materialicon-wc:before { content: "\e95e"; }
.materialicon-web:before { content: "\e95f"; }
.materialicon-visibility:before { content: "\e960"; }
.materialicon-visibilityoff:before { content: "\e961"; }
.materialicon-voicechat:before { content: "\e962"; }
.materialicon-voicemail:before { content: "\e963"; }
.materialicon-volumedown:before { content: "\e964"; }
.materialicon-volumemute:before { content: "\e965"; }
.materialicon-volumeoff:before { content: "\e966"; }
.materialicon-volumeup:before { content: "\e967"; }
.materialicon-vpnkey:before { content: "\e968"; }
.materialicon-vpnlock:before { content: "\e969"; }
.materialicon-warning:before { content: "\e96a"; }
.materialicon-watch:before { content: "\e96b"; }
.materialicon-watchlater:before { content: "\e96c"; }
.materialicon-wbauto:before { content: "\e96d"; }
.materialicon-wbcloudy:before { content: "\e96e"; }
.materialicon-wbincandescent:before { content: "\e96f"; }
.materialicon-webasset:before { content: "\e970"; }
.materialicon-weekend:before { content: "\e971"; }
.materialicon-whatshot:before { content: "\e972"; }
.materialicon-wifi:before { content: "\e973"; }
.materialicon-wifilock:before { content: "\e974"; }
.materialicon-wifitethering:before { content: "\e975"; }
.materialicon-work:before { content: "\e976"; }
.materialicon-wraptext:before { content: "\e977"; }
.materialicon-youtubesearchedfor:before { content: "\e978"; }
.materialicon-zoomin:before { content: "\e979"; }
.materialicon-zoomout:before { content: "\e97a"; }
.materialicon-zoomoutmap:before { content: "\e97b"; }